@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  @apply scroll-smooth;
}

body {
  font-family: "Poppins", sans-serif;
  @apply 2xl:w-2/3 xl:w-5/6 w-full mx-auto lg:px-5 py-10 h-screen bg-slate-200;
}

.body-berkas {
  @apply !w-[21cm] !m-0 !p-0 !mx-auto;
}

td {
  @apply border border-black;
}

@page {
  margin-top: 1mm;
  margin-right: 1mm;
  margin-bottom: 1mm;
  margin-left: 12mm;
}
